.bl-background {
    padding: 20px;
}

body{
    background: #cdcbcb;
}
.mainBody{
    margin-bottom: 10px;
    width:100%;
    max-width: 1150px;
    margin: auto;
}

.bl-row, .bl-row2 {
    background: #cdcbcb;
    width:60%;
    padding-right:20px;
    float:left;
    box-sizing: border-box;
}

.bl-row2{
    width: 40%;

}

.column1{
    padding: 10px;
    background: white;
    border-radius: 0.2em;
}

.column2{
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
}


.labelNotBought{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    padding-left: 10px;
}

.labelBought{
    border-bottom: 1px solid gray;
    border-top: 1px solid gray;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}


.allProducts{
    padding:10px;


}

.allBoughtProducts{
    padding: 10px;
}

.notBoughtProduct{
    background: lightgray;
    padding: 5px;
    display:inline-block;
    margin-bottom: 5px;
    margin-right:3px;
}



.labelSumOfProducts{
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    margin-left:2px;
    margin-right:2px;
    border-radius: 3ch;
    background: orange;
}


.maketOfProduct, .maketOfProductInColumn2{
    display: none;
}


.bl-label {
    background: #cdcbcb;
}

.bl-product{
    padding: 14px;
    display: flex;
}


.nameOfProduct{
    display: inline-block;
    width: 80%;
    height: 30px;
    border: 2px solid rgba(32,34,41,.2);
    border-bottom-left-radius: .28571429rem;
    border-top-left-radius: .28571429rem;
    padding-left: 20px;
    color: darkgrey;
    margin-right: 0;
}



.Button{
    height: 38px;
    width: 18% ;
    border: 0;
    background: #2185D0;
    border-radius: 0 .2307em .2307em 0;
    color: white;
    margin-left: 0;
    min-width: 60px;
}

.Button:hover {
    background: #1b81d0;
    box-shadow: 0 0 0 1px rgba(34,36,38,.15) inset, 0 -0.3em 0 0 rgba(34,36,38,.15) inset;
}

.Button:active{
    background: #0d65d0;
}


.bl-plus {
    background: #21BA45;
    border-radius: 30px;
    color: white;
    border: 0.1px;
    width: 30px;
    height: 30px;

}

.bl-plus:hover{
    background-color: #27cc24;

}
.bl-plus:active{
    background-color: #10990f;
}

.bl-minus {
    background: #DB2828;
    border-radius: 30px;
    color: white;
    border: 0.1px;
    width: 30px;
    height: 30px;
    box-shadow:inset 0 -0.2em 1px rgba(32,38,41,.2);

}

.bl-minus:hover{
    background-color: #d02011;

}





.deleteButton {
    background: #DB2828;
    border-radius: 0.2em;
    color: white;
    outline: 0;
    border: 0; /* Параметры рамки */
    width: 30px; /* Ширина кнопки */
    height: 30px; /* Высота */
    box-shadow:inset 0 -0.2em 1px rgba(34,36,38,.15);

}

.deleteButton:hover{
    background-color: #e41a1a;

}


.secondButton {
    background: #e2e3e5;
    border-radius: 0.5em;
    color: #4a4a4a;
    border: 0.1px;
    border: 0;
    width: 80px;
    height: 30px;


}

.secondButton:hover{
    background-color: #CACBCD;
    color:black;

}
.secondButton:active{
    background-color: #b3b4b6;
}


.product{
    border-top:1px solid rgba(34,36,38,.15);
    display: flex;
}

.nameProductColumn{
    padding: 14px;
    width:25%;
}

.buttonPlus,.boughtColumn{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    width:37.5%;
    text-align: right;
}

.nameProductColumn,.buttonPlus,.boughtColumn{
    float: left;
    box-sizing: border-box;
}

.buttonPlus{
    text-align: center;
}


.bl-label{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 7px;
    padding-top: 7px;
    vertical-align: top;
    border-radius: 0.2rem;
    margin-left: 3px;
    margin-right: 3px;
}